<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Fabiano Almeida" />

    <link rel="icon" href="img/favicon.ico" />
    <title>Mônica Sales Pilates</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link
      href="vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <div id="app">
      <!-- Navigation -->
      <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
          <a class="navbar-brand" href="#secaoZero">Profissonais</a>
          <a class="navbar-brand" href="#secaoUm">Seção Um</a>
          <a class="navbar-brand" href="#secaoDois">Seção Dois</a>
          <a class="navbar-brand" href="#secaoTres">Seção Três</a>
          <a class="navbar-brand" href="#secaoQuatro">Seção Quatro</a>
          <a class="navbar-brand" href="#secaoCinco">Seção Cinco</a>
          <a class="navbar-brand" href="#footer">Contatos</a>
          <a
            class="btn btn-primary"
            v-on:click.prevent="redesSociais()"
            href="#"
            >Sign In</a
          >
        </div>
      </nav>

      <!-- Masthead -->
      <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">{{ zero_secao.titulo }}</h1>
              <h3>{{ zero_secao.conteudo }}</h3>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div v-if="false" class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      placeholder="Enter your email..."
                    />
                  </div>
                  <div class="col-12 col-md-3">
                    <button
                      type="submit"
                      class="btn btn-block btn-lg btn-primary"
                    >
                      Sign up!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <!-- <pre>
        {{ instagram }}
      </pre> -->
      <!-- Icons Grid -->
      <section id="secaoZero" class="features-icons bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-screen-desktop m-auto text-primary"></i>
                </div>
                <h3>Fully Responsive</h3>
                <p class="lead mb-0">
                  This theme will look great on any device, no matter the size!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-layers m-auto text-primary"></i>
                </div>
                <h3>Bootstrap 4 Ready</h3>
                <p class="lead mb-0">
                  Featuring the latest build of the new Bootstrap 4 framework!
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex">
                  <i class="icon-check m-auto text-primary"></i>
                </div>
                <h3>Easy to Use</h3>
                <p class="lead mb-0">
                  Ready to use with your own content, or customize the source
                  files!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Image Showcases -->
      <section class="showcase">
        <div class="container-fluid p-0">
          <div id="secaoUm" class="row no-gutters">
            <div
              class="col-lg-6 order-lg-2 text-white showcase-img"
              v-bind:style="{ 'background-image': 'url(' + primeira_secao.url_foto + ')' }"
            ></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2><a href="#page-top">{{primeira_secao.titulo}}</a></h2>
              <p class="lead mb-0">{{primeira_secao.conteudo}}</p>
            </div>
          </div>
          <div id="secaoDois" class="row no-gutters">
            <div
              class="col-lg-6 text-white showcase-img"
              v-bind:style="{ 'background-image': 'url(' + segunda_secao.url_foto + ')' }"
            ></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2><a href="#page-top">{{segunda_secao.titulo}}</a></h2>
              <p class="lead mb-0">{{segunda_secao.conteudo}}</p>
            </div>
          </div>
          <div id="secaoTres" class="row no-gutters">
            <div
              class="col-lg-6 order-lg-2 text-white showcase-img"
              v-bind:style="{ 'background-image': 'url(' + terceira_secao.url_foto + ')' }"
            ></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2><a href="#page-top">{{terceira_secao.titulo}}</a></h2>
              <p class="lead mb-0">{{terceira_secao.conteudo}}</p>
            </div>
          </div>
          <div id="secaoQuatro" class="row no-gutters">
            <div
              class="col-lg-6 text-white showcase-img"
              v-bind:style="{ 'background-image': 'url(' + quarta_secao.url_foto + ')' }"
            ></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2><a href="#page-top">{{quarta_secao.titulo}}</a></h2>
              <p class="lead mb-0">{{quarta_secao.conteudo}}</p>
            </div>
          </div>
          <div id="secaoCinco" class="row no-gutters">
            <div
              class="col-lg-6 order-lg-2 text-white showcase-img"
              v-bind:style="{ 'background-image': 'url(' + terceira_secao.url_foto + ')' }"
            ></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2><a href="#page-top">{{quinta_secao.titulo}}</a></h2>
              <p class="lead mb-0">{{quinta_secao.conteudo}}</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Testimonials -->
      <section id="sectionTwo" class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="mb-5">{{ testemunho.titulo }}</h2>
          <!-- <div class="row" v-for="pessoa in testemunho.pessoas">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" v-bind:src="pessoa.foto" alt="">
                <h5>{{pessoa.nome}}</h5>
                <p class="font-weight-light mb-0">"{{pessoa.comentario}}"</p>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img
                  class="img-fluid rounded-circle mb-3"
                  v-bind:src="testemunho.pessoas[0].foto"
                  alt=""
                />
                <h5>{{ testemunho.pessoas[0].nome }}</h5>
                <p class="font-weight-light mb-0">
                  {{ testemunho.pessoas[0].comentario }}
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img
                  class="img-fluid rounded-circle mb-3"
                  v-bind:src="testemunho.pessoas[1].foto"
                  alt=""
                />
                <h5>{{ testemunho.pessoas[1].nome }}</h5>
                <p class="font-weight-light mb-0">
                  {{ testemunho.pessoas[1].comentario }}
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img
                  class="img-fluid rounded-circle mb-3"
                  v-bind:src="testemunho.pessoas[2].foto"
                  alt=""
                />
                <h5>{{ testemunho.pessoas[2].nome }}</h5>
                <p class="font-weight-light mb-0">
                  {{ testemunho.pessoas[2].comentario }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Call to Action -->
      <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input
                      type="email"
                      class="form-control form-control-lg"
                      placeholder="Enter your email..."
                    />
                  </div>
                  <div class="col-12 col-md-3">
                    <button
                      type="submit"
                      class="btn btn-block btn-lg btn-primary"
                    >
                      Sign up!
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer id="footer" class="footer bg-light">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <a href="#">About</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="#">Contact</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
                <li class="list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
              </ul>
              <p class="text-muted small mb-4 mb-lg-0">
                &copy; Your Website 2020. All Rights Reserved.
              </p>
            </div>

            <!-- INI Redes Sociais Administráveis: -->
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
              <ul class="list-inline mb-0">
                <li v-if="whatsapp.link" class="list-inline-item mr-3">
                  <a v-bind:href="whatsapp.link">
                    <i class="fab fa-whatsapp fa-2x fa-fw"></i>
                  </a>
                </li>
                <li v-if="facebook.link" class="list-inline-item mr-3">
                  <a v-bind:href="facebook.link">
                    <i class="fab fa-facebook fa-2x fa-fw"></i>
                  </a>
                </li>
                <li v-if="twitter.link" class="list-inline-item mr-3">
                  <a v-bind:href="twitter.link">
                    <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                  </a>
                </li> 
                <li v-if="instagram.link" class="list-inline-item">
                  <a v-bind:href="instagram.link">
                    <i class="fab fa-instagram fa-2x fa-fw"></i>
                  </a>
                </li>
                <li v-if="linkedin.link" class="list-inline-item">
                  <a v-bind:href="linkedin.link">
                    <i class="fab fa-linkedin fa-2x fa-fw"></i>
                  </a>
                </li>
                <li v-if="youtube.link" class="list-inline-item">
                  <a v-bind:href="youtube.link">
                    <i class="fab fa-youtube fa-2x fa-fw"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- FIM Mídias Sociais Administráveis: -->
          </div>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- VUE.JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        async mounted() {
          this.elements = await fetch("http://localhost:3000/posts/").then(
            function (response) {
              return response.json();
            }
          );
          this.instagram = this.elements.filter(function (elements) {
            return elements.secao == "instagram";
          })[0];
          this.whatsapp = this.elements.filter(function (elements) {
            return elements.secao == "whatsapp";
          })[0];
          this.facebook = this.elements.filter(function (elements) {
            return elements.secao == "facebook";
          })[0];
          this.twitter = this.elements.filter(function (elements) {
            return elements.secao == "twitter";
          })[0];
          this.youtube = this.elements.filter(function (elements) {
            return elements.secao == "youtube";
          })[0];
          this.linkedin = this.elements.filter(function (elements) {
            return elements.secao == "linkedin";
          })[0];
        },
        data() {
          return {
            elements: [],
            instagram: {},
            whatsapp: {},
            facebook: {},
            twitter: {},
            youtube: {},
            linkedin: {},
            foto_principal: {
              frase: "Pilates é saúde! Pilates é vida! #Movimente-se!",
              foto: "",
            },
            zero_secao: {
              titulo: "Pilates é saúde! Pilates é vida! #Movimente-se!",
              conteudo: "",
              url_foto: "",
            },
            primeira_secao: {
              titulo: "Seção 1",
              conteudo:
                '"Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito!" - Joseph Pilates!',
              url_foto: "img/bg-showcase-1.jpg",
            },
            segunda_secao: {
              titulo: "Seção 2",
              conteudo:
                '"Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito!" - Joseph Pilates!',
              url_foto: "img/bg-showcase-2.jpg",
            },
            terceira_secao: {
              titulo: "Seção 3",
              conteudo:
                '"Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito!" - Joseph Pilates!',
              url_foto: "img/bg-showcase-3.jpg",
            },
            quarta_secao: {
              titulo: "Seção 4",
              conteudo:
                '"Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito!" - Joseph Pilates!',
              url_foto: "img/bg-showcase-1.jpg",
            },
            quinta_secao: {
              titulo: "Seção 5",
              conteudo:
                '"Pilates desenvolve um corpo uniforme, corrige posturas erradas, restaura a vitalidade física, vigora a mente e eleva o espírito!" - Joseph Pilates!',
              url_foto: "img/bg-showcase-2.jpg",
            },
            testemunho: {
              titulo: "O que nossos clientes estão dizendo ...",
              pessoas: [
                {
                  nome: "Margaret E.",
                  comentario:
                    "Estou amando fazer Pilates! O Estúdio da Mônica é ótimo",
                  foto: "img/testimonials-1.jpg",
                },
                {
                  nome: "Fred S.",
                  comentario:
                    "Minha flexibilidade melhoru muito, achava que não era para mim. Fantástico",
                  foto: "img/testimonials-2.jpg",
                },
                {
                  nome: "Sarah W.",
                  comentario:
                    "Não fico sem! Pelo menos uma vez por semana tenho que praticar",
                  foto: "img/testimonials-3.jpg",
                },
              ],
            },
          };
        },
      });
    </script>
  </body>
</html>
